body {
    background-color: #f0f2f5; /* Light grey background */
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the start to account for padding */
    height: 100vh;
    margin: 0;
    padding-top: 200px; /* Add space at the top */
    background-image: url("video/freefire.jpg"); /* Updated path */
    background-size: cover; /* Cover the entire page */
    background-position: absolute; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed; /* Fix background during scroll */
}

.video-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Darker shadow for more depth */
    border-radius: 15px; /* Rounded corners */
    overflow: hidden;
    border: 5px solid #FFC107; /* Gold color border to match the image theme */
    opacity: 0; /* Set initial opacity to 0 for fade-in effect */
    transition: opacity 1s ease-out; /* Transition effect for fade-in */
}

video {
    width: 800px; /* Adjust based on your preference */
    height: auto;
    display: block; /* To remove any extra space below the video */

}
